/*Basic code, including font start*/
html, body {
  height: 100%;
  margin: 0;
  word-wrap: break-word;
}
body{
	background-color: #fafafa;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}
h1,h2,h3,h4,h5,h6{
  	font-weight: 400;
}
p{
	margin-bottom: 1em;
}		

/*Basic code, including font end*/

/*Header Start*/

.hej{
  position:fixed;
  width: 100%;
  z-index: 100000;
  height: 10%;
}
.header2{
    width:calc(20% - 1px);
    border-right:  1px solid #3E79DB;
    border-bottom: 1px solid #3E79DB;
    background-color:rgba(0,0,0,0.8);
    float:left;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: calc(10vh - 1px);
    text-align: center;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
.header2.smaller{
    height: calc(7vh - 1px);
    width:calc(20% - 1px);
    border-bottom: 1px solid #3E79DB;
    border-right: 0px;
    padding: 0vw;
    padding-right: 1px;
    background-color:rgba(0,0,0,0.8);
}
.header2 div.logo12{
    height: 100%;
}
.header2 div.logo12 img{
    max-height: 100%;
    max-width: 100%;
}
.header_nav2 {
    width:calc(80% - 1px);
    height: calc(7vh - 1px);
    border-bottom: 1px solid #3E79DB;
    background-color:rgba(0,0,0,0.8);
    float:left;
    text-align: right;
    color: #fff;
    margin-bottom: 200%;
}
.header_nav2 ul {
    list-style-type: none;
	line-height:calc(7vh - 1px);
	padding-right:10vw;
}
.header_nav2 ul li {
    list-style-type: none;
}
/*Header End*/

/*Section Breaker Start*/

div.sectionbreaker{
  background-color: #3366FF;
  height: 3%;
}

/*Section Breaker End*/

/*Section Slider Start*/
section.slider{
  width: 100%;
  height: auto;
  max-height: 85%;
  background-color: #999;
}

.slick-slide {
  margin: 0px 0px;
  padding: 0;
  width: 100vw;
}
/* max-height from 70vh*/
.slick-slide img {
  width: 100vw;
  height: 80vh;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}



/*Section Slider End*/

/*Section Firstboxes Start*/
section.first-boxes{
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #030F15;
  overflow:hidden;
}
.first-boxes-container {
  width: 100%;
  margin: auto;
  display: inline-block;
}
.first-boxes-container div.box {
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  color: #DFDFFF;
}
.first-boxes-container div.box a {
  color:#DFDFFF;
}
.first-boxes-container div.box a:hover {
  color:#777;
}
 div.box h1.header {
  font-size: 2em;
  display: inline-block;
  text-align: center;
}
 div.box hr {
  width: 95%;
  height: 3px;
  background-color: #e5e5FF;
}
div.box p {
  width: 95%;
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 0.7em;
  text-align: center;
}
div.welcome-box {
  width: 40%;
}
div.blog-box {
  width: 22.5%;
}
div.blog-box > p > a {
  color: #e5e5e5;
  text-decoration: underline;
}
div.blog-box > p > a:hover {
  color: #fff;
}
@media (max-width: 480px) { /*breakpoint*/
div.welcome-box {
  width: 100%;
}
div.blog-box {
  width: 100%;
}
}
/*Section Firstboxes End*/

/*Section Projects Start*/
section.projectssection{
  width:100%;
  background-color: #3366FF;
  padding-top: 1.5%;
  min-height: 30%;
	overflow:hidden;
}
section.projectssection h1{
  width:100%;
  background-color: #000;
  text-align: center;
  color: #fff;
}
/*Section Projects End*/


/*Section Screenshots Start*/
section.screenshotssection{
  background-color: #3366FF;
  overflow: auto;
  color: #fff;
  padding-top:3%;
  min-height: 30%;
}
section.screenshotssection h1.header{
  width: 100%;
  background-color: #000;
  text-align: center;
}
section.screenshotssection p{
  text-align: center;
  font-size: 2em;
}
div.screenshotflexboxes{
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}
div.screenshotflexboxes div{
  width:22%;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
div.screenshotflexboxes div img{
  width: 100%;
}
@media (max-width: 480px) { /*breakpoint*/
	div.screenshotflexboxes div{
	  width:47%;
	}
	/*The boxes you want to disable in mobile view*/
	div.screenshotflex5, div.screenshotflex8, div.screenshotflex4, div.screenshotflex1{
	  display: none;
	}
}
/*Section Screenshots End*/

/*Section About Us Start*/
section.aboutussection{
  width:100%;
  background-color: #000;
  padding-top: 3%;
  min-height: 30%;
	overflow:hidden;
}
section.aboutussection h1.header{
  width:100%;
  background-color: #3366FF;
  text-align: center;
  color: #fff;
}
div.aboutussectionboxes{
  width: 100%;
  color: #fff;
overflow:hidden;
}
div.aboutussectionbox{
  float: left;
  font-size: 1.3em;
	overflow:hidden;
}
.aboutussectionbox > a {
  color:#DFDFFF;
	text-decoration:underline;
}
.aboutussectionbox > a:hover {
  color:#777;
}
div.box25{
  width:25%;
}
div.box50{
  width:50%;
}
div.boxleft{
  text-align: center;
}
div.boxmiddle{
  text-align: center;
}
div.boxright{
  text-align: right;
}
@media (max-width: 480px) { /*breakpoint*/
div.box25{
  width:100%;
}
div.box50{
  width:100%;
}
}
/*Section About Us End*/

/*Footer Start*/
div.footer{
	width:100%;
  background-color: #000;
	padding-top:5%;
	padding-bottom:5%;
  z-index: 99;
	overflow:hidden;
}

.footercontainer {
    font-size: 0; /*fix white space*/
}
.footercontainer > div {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.footercontainer2 {
    font-size: 0; /*fix white space*/
}
.footercontainer2 > div{
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    color: #fff;
}
.footercontainer2 > div.left {
    text-align: left;
}
.footercontainer2 > div.right {
    text-align: right;
}
img.logo{
	height: 80px;
	padding-bottom: 60px;
}
.socialmediaicon{
	height: 25px;
	padding-left: 10px;
}
a.socialmediaicon:hover{
    opacity:0.2;
    text-decoration: none;
}
div.footer  a{
	color: #fff;
	text-decoration: none;
}
div.footer  a:hover{
	color: #555;
	text-decoration: underline;
	/* transition on hover */
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition:.2s;
}

@media (max-width: 480px) { /*breakpoint*/
  .footercontainer > div {
    width: 100%;
  }
  .footercontainer2 > div:hover{
    width: 100%;
  }
  .footercontainer2 > div.left {
    text-align: center;
    padding-bottom: 2%;
  }
  .footercontainer2 > div.right {
    text-align: center;
  }
}

/*Footer End*/
